name: learn-github-actions
run-name: ${{ github.actor }}さんはGitHub Actionsの勉強していらっしゃる!
on: [push, pull_request]
jobs:
  first:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "成功しました！"
